<a href="https://colab.research.google.com/github/lcw3721/class2021Spring/blob/main/variables(%ED%95%84%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=2; print(type(a))

<class 'int'>

int형은 정수형을 나타낸다.

In [2]:
a=2; a=float(a); print(type(a))

<class 'float'>

a=float(a)의 의미는 a에 float형인 a를 assign하라는 의미이기 때문에 그 이후에 a의 type은 float형이 된다.

In [6]:
a=1.4; a=int(a); print(type(a)); print(a)

<class 'int'>
1

1.4와 같은 실수 a에 int를 assign한다면 a의 type이 int형으로 출력된다. 그리고 a를 출력할 때는 원래의 값인 실수에서 소수점 첫째자리에서 반올림하여 만들어진 정수를 출력한다.

In [5]:
a='125'; print(type(a)); print(a[2])

<class 'str'>
5

리스트 안의 항목들은 가장 첫번째 항목이 0부터 시작하여 순서대로 숫자가 부여된다.

In [7]:
a='125'; a=list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '5']
5

리스트는 [ ]으로 표현하며 순서가 존재한다.

In [10]:
a=[1, '2', [5, '6']]; print(type(a)); print(a[1]); print(a[2])

<class 'list'>
2
[5, '6']

list의 [ ]안에는 어떤 형태가 들어와도 상관이 없으며 리스트 안의 항목들 중 하나를 지목할 수 있다.

In [11]:
a=(1, '2', [5, '6']); print(type(a)); print(a[1]); print(a[2])

<class 'tuple'>
2
[5, '6']

list와 tuple은 거의 차이가 없지만 list는 [ ]를 사용하고 tuple은 ( )을 사용한다. 또한 list는 assign이 가능하지만 tuple은 item에 새로 assign 할 수 없다.

In [12]:
a={"a": "car", "b": "train", "c": "airplane"}
print(type(a)); print(a["c"])

<class 'dict'>
airplane

dictionary는 순서가 존재하지 않으며 { }로 표현한다. 항목에 access 하려면 a["c"] 혹은 a['c']로 표현한다.

In [14]:
a=[(1, 3, 0), (4, 5, 2)]
print(type(a))
a

<class 'list'>

[(1, 3, 0), (4, 5, 2)]

list안에는 어떤 항목이 들어가도 상관 없다.